*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Open+Sans:ital,wght@0,300;1,300&family=Patrick+Hand&family=Roboto+Condensed:ital@1&family=Roboto:wght@100;300&display=swap');

/* HEADER */
header{
    background-color: #EEEEEE;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
}
nav{
    display: flex;
}
a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.heart{
    width: 35px;
    margin: 10px;
    cursor: pointer;
}
.shopcart{
    width: 35px;
    margin: 10px;
    cursor: pointer;   
}

/* HOME */
.home-ctn{
    min-height: 90vh !important;
    background-color: rgb(15, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.title-home{
    font-size: 60px;
    font-weight: 800;
}
.subtitle-home{
    width: 30vw;
    font-size: 30px;
}
.messi-img{
    width: 35vw;
}
.products-home{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-newproducts{
    font-size: 30px;
    margin: 20px  20px;
}
.newproducts-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    margin: 10px;
    height: 50vh;
    width: 400px;
}
.card-img{
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-newproducts{
    width: 22rem;
    height: 100%;
}
.card-body{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* FOOTER */
footer{
    min-height: 10vh;
    color: #fff;
    background-color: rgb(15, 12, 12);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.googlemap{
    margin: 10px;
}

/* PRODUCTS PAGE */
.products-ctn{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
.ctn-input{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
#jerseys-products{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.jerseys{
    width: 400px;
}